body {
    font-family: sans-serif;
    background-color: lightgrey;
    margin-top: 75px;
}

.center {
    text-align: center;
}

.text-big {
    font-size: 300%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 200px;
}
.body{
    font-family: TimesNewRomen;
    background-color: lightgrey;
}
.title{
    font-family: TimesNewRomen;
    background-color: lightyellow;
}
.para{
    font-family: TimesNewRomen;
    background-color: lightgreen;
}
